.dropdownBlock {
    width: 1240px;
    margin: 0 auto;
}

#parentFindOut {
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#background-image-findOut {
    width: 1240px;
    height: 224px;
    border-radius: 24px;
    object-fit: cover;
    position: relative;
    filter: brightness(50%);
}

@media screen and (max-width: 768px) {
    .dropdownBlock {
        width: 100%;
        margin: 0 auto;
    }
    #background-image-findOut {
        margin: 24px 0;
    }

}