@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#navbar {
    margin: 12px;
}

.logoSite {
    width: 100%;
}

#flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flex-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#flex-nav li {
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    line-height: 32px;
    cursor: pointer;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.linkNavbar {
    text-decoration: none;
}

.linkNavbar:link {
    color: #FF6060;
}

.linkNavbar:visited {
    color: #FF6060;
}

.linkNavbar:active {
    color: #FF6060;
}
.linkNavbar:hover {
    text-decoration: underline;
    color: #FF6060;
}

@media screen and (max-width: 768px) {
    #navbar {
        max-width: 1240px;
        margin: 12px 20px;
    }

    .logoSite {
        width: 75%;
    }

}
