#parentCart {
    position: relative;
    height: 100%;
    width: 100%;
}

#parentCart:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

.imageCart {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    min-height: 340px;
}

#titleCart {
    position: absolute;
    display: block;
    z-index: 999;
    bottom: 24px;
    color: #fff;
    line-height: 25px;
    font-size: 18px;
    margin: 0 12px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 376px) {
    .imageCart {
        min-height: 255px;
    }
}