#footer {
    background-color: black;
    width: 100%;
    padding: 24px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer img {
    margin: 24px 0;
}

#footer p {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin: 12px 0;
}