#flexLogement {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
}

#flexRateAndTag {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#nameLogement h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #FF6060;
}

#nameLogement h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FF6060;
}

.tagParent {
    display: flex;
    flex-direction: row;
}

.tagParent .tag:first-child {
    margin-left: 0;
}

.vendeur {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.vendeur h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    line-height: 26px;
    text-align: end;
    margin-right: 12px;
}

#dropdownLogement {
    display: flex;
    flex-direction: row;
}

#dropdownLogement .t-dropdown-block {
    margin: 24px 12px;
}